*{
  margin: 0%;
  padding: 0%;
}

body{
  font-family: roboto;
}


.first-section{
  background-color: #1F2937;
}
#header-logo{
font-size: 24px;
color: #F9FAF8;
}
.header-link{
  font-size: 18px;
  color: #E5E7EB;
}
.navbar{
  display: flex;
  flex-direction: row;
}
ul{
  display: flex;
  flex-direction: row;
}
.navbar-left,.navbar-right{
display: flex;
width: 50%;
justify-content: center;
align-items: center;
}
h1{
  font-size: 48px;
  font-weight: bold;
  color:#F9FAF8
}
.content{
  display: flex;
  flex-direction: row;
  margin: 50px;
}


.content-right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%
}
img{
margin-bottom: 50px;
}
.content-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin: 150px;
}
.p-first{
  font-size: 18px;
  color: #E5E7EB;
}
.sign-up-first-section{
  background-color: #3883F6;
  color: #F9FAF8;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}

/* Styling for second section*/
h2{
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
}

.row-of-blue-divs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  margin: 100px;

}
.box-blue{
  border: 5px solid #3883F6;
  border-radius: 15px;
  width: 200px;
  height:200px;
}
.second-section{
  display: flex;
  justify-content: center;
flex-direction: column;
gap: 8px;
}
.p-second{
  text-align: center;
}
/* style for the third section*/
.third-section{
  background-color: #E5E7EB;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3{
  font-size: 32px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
  text-align: center;
}
.p-third{
  font-size: 18px;
  text-align: end;
}
#p-third{
  display: flex;
  justify-content: flex-end;
  margin-right: 300px;
}
/*styling for fourth section*/
.fourth-section{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue-container{
  background-color: #3883F6;
  width: 75%;
  height: 40%;
  display: flex;
  flex-direction: row;
}
.right-container{
width: 80%;
margin-left: 100px;
display: flex;
align-items: center;
flex-direction: column;

}
h4{
  font-size: 24px;
  color:#E5E7EB;
  text-align: center;
}
.p-fourth{
  color: #E5E7EB;
  font-size: 18px;
}
.left-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.lst-btn{
  background-color: #3883F6;
  color: #F9FAF8;
  width: 100px;
  height: 50px;
  border: 1px solid white;
  border-radius: 10px;
}
/*footer*/
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
  height: 75px;
}